* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Patua One', cursive;
}

body {
    overflow: hidden;
    background-color: pink;
}

main {
    height: 100vh;
}

h1 {
    font-family: 'Oleo Script', cursive;
    font-size: 60px;
    color: red;
    margin-top: 100px;
}

.quiz-start-end h2 {
    color: red;
}

p {
    font-size: 20px;
}

.banner header {
    padding: 10px 5px;
}

.banner ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

li {
    list-style: none;
    letter-spacing: 2px;
}

.quiz-start-end div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.question-picture {
    max-width: 100vw;
}

img {
    height: auto;
    width: 100%;
    max-width: 400px;
}

.question-response-container h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.question-response-container h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.answers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.answers-item {
    display: flex;
    align-items: center;
    flex: 0 49%;
    margin-bottom: 2%;
}

.answers-item label {
    font-size: 20px;
    margin-left: 10px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px;
}

.quiz-question-answer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-response-container p {
    text-align: center;
}

@media all and (min-width: 400px) {
    img {
        max-width: 400px;
        width:100%;
    }

    .answers-container {
        max-width: 400px;
    }
}

@media all and (min-width: 750px) {
    body {
        overflow: visible;
    }

    .quiz-question-answer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

@media all and (min-width: 1000px) {
    main {
        margin-left: 150px;
        margin-right: 150px;
        padding: 10px;
        height: auto;
        min-height: 80vh;
    }
    .quiz-question-answer {
        flex-direction: row;
        justify-content: space-between;
    }

    .quiz-question-answer-item {
        flex: 1;
    }

    .answers-container {
        flex-direction: column;
    }

    img {
        max-width: 600px;
    }

    .question-field {
        padding-left: 30px;
        padding-top: 20px;
    }

    .question-response-container h2{
        text-align: left;
    }

    .question-response-container h3 {
        text-align: left;
    }

    button {
        margin: 20px 0;
    }
    
    .question-response-container p {
        text-align: left;
    }
}